body {
    font-family: 'Dancing Script', cursive;
}

.front {
    background-color: #D3AB9E;
    position: relative;
}

.card__container {
    width: 250px;
    position: relative;
    margin: 10rem auto;
    perspective: 1000px;
}

.back {
    background-color: #EAC9C1;
}

.front,
.back {
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-size: 2.4rem;
}

p {
    font-size: 1.7rem;
}

.divider {
    height: 1px;
    background-color: black;
    width: 75%;
}

/* ANIMATION */

.back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.card__container:hover div.inner {
    transform: rotateY(180deg);
}

.inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.front,
.back {
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}